import(methods)
importFrom(utils, read.table)
importFrom(stats, setNames)
importFrom(tools, file_path_as_absolute)
importFrom(Matrix, sparseMatrix)

import(pizzarr)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(S4Arrays)
import(SparseArray)
import(DelayedArray)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 classes
###

exportClasses(
  Zattrs,
  ZarrArraySeed,
  ZarrArray, 
  ZarrMatrix,
  ZarrRealizationSink
)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export non-generic functions
###

export(
    get_zarrmread_returned_type, zarr_mread,
    set_zarrdimnames, get_zarrdimnames, zarrwriteDimnames, zarrreadDimnames,
    ZarrArraySeed,
    .ZarrArraySeed,
    ZarrArray,
    .ZarrArray,
    # Zattrs,
    # .Zattrs,
    setZarrDumpDir, getZarrDumpDir,
    setZarrDumpFile, getZarrDumpFile, lsZarrDumpFile,
    setZarrDumpName, getZarrDumpName,
    setZarrDumpChunkLength, getZarrDumpChunkLength,
    setZarrDumpChunkShape, getZarrDumpChunkShape,
    getZarrDumpChunkDim,
    setZarrDumpCompressionLevel, getZarrDumpCompressionLevel,
    appendDatasetCreationToZarrDumpLog, showZarrDumpLog,
    ZarrRealizationSink, writeZarrArray
)

